<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">   
</head>   
<body>
<div class="caixa_principal">
    <img src="imagens/foto.jpg_small" class="icone">
    <h1>Gabriel de Barros Pereira</h1>
    <div class="quebra_de_linha"></div>
    
    <p> | Estudante de programação | </p>
    <p> Me chamo Gabriel de Barros Pereira, estudo programação desde o segundo semestre de 2019,tenho conhecimento em C,C#,Java,Oracle,Postgresql,html e css.Procuro me profissionalizar trabalhando com Java e partir pra trabalhar com JavaScript e seus Frameworks.Muita vontade em aprender automatização de processos(independente da linguagem) e desenvolvimento mobile.</p>
    <p>Github</p>
    <div class="social-icons">
        <a href="https://github.com/GabrielPereira187/PWEB"><img src="imagens/GitHub-Mark.png" class="icone">
        </a>
    </div>
    <p>Exemplos de projeto</p>
    <a href="https://github.com/GabrielPereira187/PWEB/tree/main/Atividade3" ><img src="imagens/print1.png" width=450px height=350px></a>
    <p>Projeto realizado com HTML,falando sobre a LGPD,dando informações úteis sobre ela,e como muda em nossas vidas.</p>
    <br>
         <a href="https://github.com/GabrielPereira187/PWEB/tree/main/Atividade4" ><img src="imagens/print2.png" width=450px height=350px></a>
    <p>Projeto realizado com HTML e CSS,página mostrando os pontos turísticos da cidade de Águas de Lindóia.</p>
    
</div>
</body>
    
    
    
    
    
</html>